@model MakeYourPartyServer.Models.PartyViewModel
@{
    ViewBag.Title = "Create Party";
}

@using (Html.BeginForm("CreateParty", "Party", FormMethod.Post, new { id = "createPartyForm", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="jumbotron">
        <h1>Let's make your party?</h1>
        <div class="form-group">
            @Html.LabelFor(m => m.PartyCode, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PartyCode, new { @class = "form-control" })
            </div>
        </div>
        <input type="submit" value="Create Party" class="btn btn-primary btn-lg" />
    </div>
}

